.navigation-auth {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
}


.navigation-auth__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  transition: .3s;
}

.navigation-auth__item:hover {
  opacity: .7;
}

.navigation-auth__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  background-color: #3456F3;
  border-radius: 3px;
  transition: .3s;
}

.navigation-auth__button:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .navigation-auth {
    gap: 14px;
  }
}